body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.empty{
  width: 100%;
  height: 127px;
}
.ord__text{
  padding: 7px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 3vh;
  background-color: #A9A9A9;
  border: solid black 3px;
}
.ch__fon{
  width: 100%;
  height: 100%
  background-color: #C0C0C0;
}
.ch__back{
  margin: 0 120px;
  background-color: #F5F5F5;
	font-size: 22px;
  font-family: 'Qwigley', cursive;
  border-left: solid black 3px;
  border-right: solid black 3px;
}
.masonry-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  height: 200vw;
}
.panel {
  display: flex;
  flex: 1 1 auto;
  width: 33.3%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.panel-content {
  padding: 10px;
  border-radius: 10px;
}
.layout-column{
    font-family: 'Qwigley', cursive;
    font-size: 7vh;
    text-decoration: overline;
}
.image {
  cursor:pointer;
}

.popup {
  position: absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  display:none;
  align-items:center;
}

.popup_bg {
  background:rgba(0,0,0,0.4);
  position:fixed;
  z-index:1001;
  height:100%;
  width:100%;
}


.popup_img {
  position: fixed;
  margin:5px 25%;
  z-index:1002;
  max-height:99%;
  max-width:99%;
}
